#app {
    display: grid;
    grid-template-columns: 30% 70%;    
    height: 100vh;
    overflow: hidden;
}

aside {
    background-image: url('../assets/Background.svg');
    background-size: cover;
    background-position: center;
    max-width: 25rem;
    max-height: 45.5rem;
    overflow: auto;
    margin: 1.2rem;
    border-radius: 0.8rem;

    & .aside-container {
        max-width: 21rem;
        padding: 2rem ;
    }

    & h1 {
        font: var(--logo);
        color: var(--pink);
        padding-top: 1rem;
    }

    & p {
        font: var(--text-heading);
        text-shadow: black;
        color: var(--text-body);
    }

}


main {
    background-color: var(--shape-body);
    overflow: auto;
    border-radius: 0.7rem;
    max-width: 52.2rem;
    margin: 1.2rem;
    display: flex;
    justify-content: center;
    

    & .main-container {
        max-width: 35rem;
        padding: 8.1rem;
        padding-top: 5rem;
        
    }

    & h1 {
        font: var(--heading-md);
        color: var(--text-heading);
    }
    
}

